@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime

<PageTitle>Login</PageTitle>

<AuthorizeView>
    <Authorized>
        <a href="#">Hello, @context.User.Identity?.Name!</a>
        <a href="Account/SignOut">Sign out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/SignIn">Sign in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }
    
    [SupplyParameterFromQuery(Name = "error")]
    public string? Error { get; set; }
    
    private string? ErrorMessage { get; set; }

 
}
